.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background-image: url("/boheme.jpeg");
  background-size: cover;
  color: #4a4a4a;
  font-family: "Georgia", serif;
  padding: 20px;
}
/* Contenu principal */
.app-content {
  flex: 1; /* Prend tout l'espace disponible entre le header et le footer */
}
.app h1{
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-shadow: 2px 2px 4px #000;
  
}
.app-p {
  border: 2px solid transparent;
  padding: 10px;
  /* transition: border 0.3s ease; */
  /* background-color: rgb(255, 255, 255, 0.5); */
  text-align: center;
  text-shadow: 2px 2px 2px #fff;
  width:auto;
  /* Lors du survol */
  &:hover {
    border: 2px solid #fff;
  }
  
  
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  
}



@media (max-width: 768px) {
  .app h1{
    color: white;
  }

}
@media (max-width: 496px) {
  .app h1{
    color: white;
    font-size: 45px;
  }
  .app {
      background-image: url("/bohemeMob.jpeg");
  }
}
.btn-filter:hover{
  border-radius: 0%;
  background-color: rgb(86, 72, 72);
  padding: 10px;
  color: #fff;
  border: none;
  margin-right: 5px;
}

.btn-filter.active::after {
  border-radius: 0%;
  background-color: rgb(86, 72, 72);
  padding: 10px;
  color: #fff;
  border: none;
  margin-right: 5px;
}

/* Style général */
.background-container {
  position: relative;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.6); /* Couleur de fond douce */
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px black;
}

.app-p.lead {
  z-index: 10;
  font-size: 2rem;
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Les icônes */
.icon-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.icon {
  position: absolute;
  font-size: 2.5rem; /* Taille des icônes */
  animation: float 8s infinite ease-in-out;
  opacity: 0.3;
  color: #ff6f61; /* Couleur des icônes */
}

/* Animation des icônes */
@keyframes float {
  0% {
    transform: translateX(100vh) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: o.5;
  }
  100% {
    transform: translateX(-100vh) rotate(360deg);
    opacity: 0;
  }
}

/* Positionnement aléatoire des icônes */
.icon:nth-child(1) {
  left: 10%;
  animation-duration: 6s;
  animation-delay: 0s;
}

.icon:nth-child(2) {
  left: 30%;
  animation-duration: 7s;
  animation-delay: 2s;
}

.icon:nth-child(3) {
  left: 50%;
  animation-duration: 8s;
  animation-delay: 4s;
}

.icon:nth-child(4) {
  left: 70%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.icon:nth-child(5) {
  left: 85%;
  animation-duration: 9s;
  animation-delay: 3s;
}

.icon:nth-child(6) {
  left: 5%;
  animation-duration: 7s;
  animation-delay: 5s;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.footer p {
  margin: 0;
  font-size: 19px;
  color: #6c757d;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons i {
  margin: 0 0px;
  font-size: 25px;
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #007bff;
}
